---
layout: post
---
<span>Photos:</span>
<ul>
  {% for photo in site.data[include.name] %}
  <li>
    <button
      data-item-id="{{ photo.name }}-{{ photo.size }}"
      data-item-name="{{ site.productName }} {{ photo.name }}"
      data-item-price="{{ site.productPrice }}"
      data-item-url="{{ page.url | absolute_url }}"
      data-item-description="{{ site.productsDescription }}"
    >Ajouter au panier</button>
    <a href="{{ photo.bigPath | relative_url }}">
      <img src="{{ photo.smallPath | relative_url }}">
    </a>
  </li>
  {% endfor %}
</ul>
<h1>{{ include.name }}</h1>
